.header-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.header-form__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.header-form__item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #000;
}

.header-form__item:first-child {
  margin-right: 20px;
  position: relative;
}

.header-form__label {
  font-family: "Rubik", sans-serif;
}

.header-form__select {
  width: 100%;
}

.header-form__input {
  width: 95%;
  border: none;
  outline: none;
  padding: 7px 0;
  cursor: pointer;
  font-family: "Rubik", sans-serif;
}

.header-form__arrow {
  transform: rotate(180deg);
  cursor: pointer;
}

.header-form__arrow.header-form__arrow--active {
  transform: rotate(0deg);
}

.select {
  position: absolute;
  z-index: 10;
  top: 52px;
  background-color: #fff;
  width: 100%;
  padding: 14px;
}

.select-list {
  margin-left: 0;
  padding-left: 0;
}

.select-list__item {
  list-style-type: none;
  margin-bottom: 28px;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
}

.header-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: "Formular", sans-serif;
  color: #a3a6a9;
  cursor: pointer;
}

.header-button__text {
  display: inline-block;
  margin-right: 12px;
}
